<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis Web App</title>
</head>
<body>
    <h1>Sentiment Analysis Web App</h1>
    <form id="sentimentForm">
        <label for="urlInput">Enter E-commerce URL:</label>
        <input type="text" id="urlInput" name="urlInput">
        <button type="submit">Analyze Sentiment</button>
    </form>
    <div id="result"></div>

    <script src="static/script.js"></script>
</body>
</html>
